/*=== Mobile first ===*/
@media only screen and (min-width:480px) 
    /*======== Encabezado ========*/
    .CuadroDeEncabezado
        border-radius: 0 0 80px 80px
        width: 450px

    #TamanoImgLogo
        height: 75px
        width: 75px

    #TituloDePagina
        font:
            size: 2em

    #SubtituloDePagina
        font:
            size: 1em

    /*======== Encabezado ========*/

    .TituloDeSeccionPrincipal
        font:
            size: 1.6em

    .ParrafoDeSeccionPrincipal
        font:
            size: 1.3em

    #EstrellasDeRecomendacion
        font:
            size: 2.5em
        line-height: 50px

    #NombreDeRecomendacion
        font:
            size: 1.5em
        text-decoration: underline

    #TextoDeRecomendacion
        font:
            size: 1.14em

    #CuadroDeRecetas
        flex:
            direction: row
            wrap: wrap
        justify-content: space-between

        margin:
            bottom: 50px     
            
    .Articulo
        display: flex
        flex:
            direction: column
        align-items: center

        margin: 20px 0

        text-align: center

    .TextoDeArticulo
        margin:
            top: 12px

    .Boton
        padding: 16px 0

        font:
            size: 1.3em



@media only screen and (min-width:768px)
    .TituloDeSeccionPrincipal
        font:
            size: 2em

    .ParrafoDeSeccionPrincipal
        font:
            size: 1.4em

    #EstrellasDeRecomendacion
        font:
            size: 2.8em
        line-height: 58px

    #NombreDeRecomendacion
        font:
            size: 1.7em
        text-decoration: underline
        
    
    /*=== Articulos ===*/
    .Articulos-Rectangulo-Principal
        flex:
            direction: row
            
    .Articulos-Item
        transition: all 0.2s
        &:hover
            margin:
                top: 0
    /*=== Articulos ===*/
    
    
    #CuadroDeArticulos
        flex:
            direction: row
            wrap: wrap
        justify-content: center
        align-items: center

        margin:
            top: 20px
            bottom: 50px

    .ImgDeArticulo
        opacity: 1

    .TextoDeArticulo
        width: 75%

    .TituloDeSeccionAgendaConsulta
        font:
            size: 3.2em
    .ParrafoDeSeccionAgendaConsulta
        font:
            size: 1.6em

    .Boton
        font:
            size: 1.5em
            
            
            
/*======== Sección nueva ========*/

//.Articulos-Rectangulo-Principal
//    display: flex
//    align-items: center
//    justify-content: space-between
//    
//    max-width: 800px
//    width: 90%
//
//.Articulos-Vinculo-Item
//    color: #000000
//    
//.Articulos-Item
//    display: flex
//    flex:
//        direction: column
//    align-items: center
//    
//    max-width: 200px
//    margin: 20px 0
//    width: 100%
//    
//    text:
//        align: center
//
//.Articulos-Item-Img
//    width: 200px
//    height: 200px
//    
//    border-radius: 50%
//    
//.Articulos-Item-Txt
//    margin:
//        top: 14px
//        
//    font:
//        size: 1.1em
//    text:
//        align: center

/*======== Sección nueva ========*/