/*======== Sección principal ========*/

#SeccionPrincipal
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 50px
    
    width: 100%

.TituloDeSeccionPrincipal
    font-size: 1.4em
    text-align: center

.ParrafoDeSeccionPrincipal
    margin-top: 20px
    
    font-size: 1.1em
    text-align: center

#RecomendacionDeLaSemana
    margin-top: 50px
    
    text-align: center
    /*width: 90%*/
    /*font-size: 1.1em*/

.SeccionInstagram
    display: flex
    justify-content: center
    align-content: center
    width: 100%
    
    margin-top: 10px

#ImgRecomendacion
    width: 200px
    height: 200px

.Estrella
    color: yellow

#EstrellasDeRecomendacion
    font-size: 2.2em
    line-height: 40px

#NombreDeRecomendacion
    font-size: 1.1em
    text-decoration: underline

#TextoDeRecomendacion
    max-width: 360px
    margin-bottom: 10px
    color: orangered

#TituloDeArticulos
    margin-top: 10px

#CuadroDeArticulos
    max-width: 980px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
    margin-bottom: 40px

#CuadroDeRecetas
    max-width: 750px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
    margin-bottom: 40px

.VinculoDelArticulo
    color: #000

.Articulo
    display: flex
    flex-direction: column
    align-items: center
    
    margin: 20px 0
    
    text-align: center

.ImgDeArticulo
    width: 200px
    height: 200px
    
    background:
        image: url(../Img/Fondo.jpg)
        repeat: no-repeat
        size: cover
        position: center center
    border-radius: 50%
        
    cursor: pointer

.TextoDeArticulo
    width: 100%
    margin-top: 14px
    
    font-size: 1.1em
    text-align: center

/*======== Sección principal ========*/



/*======== Sección nueva ========*/



/*======== Sección nueva ========*/